// Importar las variables de Bootstrap
@import "~bootstrap/scss/variables";

// Colores personalizados
$primary: #000000; // Negro: principal
$secondary: #333333; // Gris oscuro: detalles
$light: #FFFFFF; // Blanco: resaltar texto
$dark: #333333; // Gris oscuro: para contrastes
$success: #003366; // Azul oscuro: serenidad
$info: #C0C0C0; // Plata: detalles
$warning: #CCCCCC; // Gris claro: fondos
$danger: #003366; // Azul oscuro: profesionalismo

// Colores de fondo
$body-bg: $light; // Fondo general del cuerpo
$component-active-bg: $secondary; // Fondo para componentes activos

// Texto
$body-color: $dark; // Color del texto general

// Botones
$btn-primary-bg: $primary;
$btn-primary-color: $light;
$btn-primary-border-color: $primary;

$btn-secondary-bg: $secondary;
$btn-secondary-color: $light;
$btn-secondary-border-color: $secondary;

// Colores de borde
$border-color: $secondary;

// Aplicar las variables modificadas al resto del diseño Bootstrap
@import "~bootstrap/scss/bootstrap";
